<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[微笑]</key>
	<string>emoji_001</string>
	<key>[撇嘴]</key>
	<string>emoji_002</string>
	<key>[色]</key>
	<string>emoji_003</string>
	<key>[发呆]</key>
	<string>emoji_004</string>
	<key>[得意]</key>
	<string>emoji_005</string>
	<key>[流泪]</key>
	<string>emoji_006</string>
	<key>[害羞]</key>
	<string>emoji_007</string>
	<key>[闭嘴]</key>
	<string>emoji_008</string>
	<key>[睡]</key>
	<string>emoji_009</string>
	<key>[大哭]</key>
	<string>emoji_010</string>
	<key>[尴尬]</key>
	<string>emoji_011</string>
	<key>[发怒]</key>
	<string>emoji_012</string>
	<key>[调皮]</key>
	<string>emoji_013</string>
	<key>[呲牙]</key>
	<string>emoji_014</string>
	<key>[惊讶]</key>
	<string>emoji_015</string>
	<key>[难过]</key>
	<string>emoji_016</string>
	<key>[酷]</key>
	<string>emoji_017</string>
	<key>[冷汗]</key>
	<string>emoji_018</string>
	<key>[抓狂]</key>
	<string>emoji_019</string>
	<key>[吐]</key>
	<string>emoji_020</string>
	<key>[偷笑]</key>
	<string>emoji_021</string>
	<key>[愉快]</key>
	<string>emoji_022</string>
	<key>[白眼]</key>
	<string>emoji_023</string>
	<key>[傲慢]</key>
	<string>emoji_024</string>
	<key>[饥饿]</key>
	<string>emoji_025</string>
	<key>[困]</key>
	<string>emoji_026</string>
	<key>[惊恐]</key>
	<string>emoji_027</string>
	<key>[流汗]</key>
	<string>emoji_028</string>
	<key>[憨笑]</key>
	<string>emoji_029</string>
	<key>[悠闲]</key>
	<string>emoji_030</string>
	<key>[奋斗]</key>
	<string>emoji_031</string>
	<key>[咒骂]</key>
	<string>emoji_032</string>
	<key>[疑问]</key>
	<string>emoji_033</string>
	<key>[嘘]</key>
	<string>emoji_034</string>
	<key>[晕]</key>
	<string>emoji_035</string>
	<key>[疯了]</key>
	<string>emoji_036</string>
	<key>[衰]</key>
	<string>emoji_037</string>
	<key>[骷髅]</key>
	<string>emoji_038</string>
	<key>[敲打]</key>
	<string>emoji_039</string>
	<key>[再见]</key>
	<string>emoji_040</string>
	<key>[擦汗]</key>
	<string>emoji_041</string>
	<key>[抠鼻]</key>
	<string>emoji_042</string>
	<key>[鼓掌]</key>
	<string>emoji_043</string>
	<key>[糗大了]</key>
	<string>emoji_044</string>
	<key>[坏笑]</key>
	<string>emoji_045</string>
	<key>[左哼哼]</key>
	<string>emoji_046</string>
	<key>[右哼哼]</key>
	<string>emoji_047</string>
	<key>[哈欠]</key>
	<string>emoji_048</string>
	<key>[鄙视]</key>
	<string>emoji_049</string>
	<key>[委屈]</key>
	<string>emoji_050</string>
	<key>[快哭了]</key>
	<string>emoji_051</string>
	<key>[阴险]</key>
	<string>emoji_052</string>
	<key>[亲亲]</key>
	<string>emoji_053</string>
	<key>[吓]</key>
	<string>emoji_054</string>
	<key>[可怜]</key>
	<string>emoji_055</string>
	<key>[菜刀]</key>
	<string>emoji_056</string>
	<key>[西瓜]</key>
	<string>emoji_057</string>
	<key>[啤酒]</key>
	<string>emoji_058</string>
	<key>[篮球]</key>
	<string>emoji_059</string>
	<key>[乒乓]</key>
	<string>emoji_060</string>
	<key>[咖啡]</key>
	<string>emoji_061</string>
	<key>[饭]</key>
	<string>emoji_062</string>
	<key>[猪头]</key>
	<string>emoji_063</string>
	<key>[玫瑰]</key>
	<string>emoji_064</string>
	<key>[凋谢]</key>
	<string>emoji_065</string>
	<key>[嘴唇]</key>
	<string>emoji_066</string>
	<key>[爱心]</key>
	<string>emoji_067</string>
	<key>[心碎]</key>
	<string>emoji_068</string>
	<key>[蛋糕]</key>
	<string>emoji_069</string>
	<key>[闪电]</key>
	<string>emoji_070</string>
	<key>[炸弹]</key>
	<string>emoji_071</string>
	<key>[刀]</key>
	<string>emoji_072</string>
	<key>[足球]</key>
	<string>emoji_073</string>
	<key>[瓢虫]</key>
	<string>emoji_074</string>
	<key>[便便]</key>
	<string>emoji_075</string>
	<key>[月亮]</key>
	<string>emoji_076</string>
	<key>[太阳]</key>
	<string>emoji_077</string>
	<key>[礼物]</key>
	<string>emoji_078</string>
	<key>[拥抱]</key>
	<string>emoji_079</string>
	<key>[强]</key>
	<string>emoji_080</string>
	<key>[弱]</key>
	<string>emoji_081</string>
	<key>[握手]</key>
	<string>emoji_082</string>
	<key>[胜利]</key>
	<string>emoji_083</string>
	<key>[抱拳]</key>
	<string>emoji_084</string>
	<key>[勾引]</key>
	<string>emoji_085</string>
	<key>[拳头]</key>
	<string>emoji_086</string>
	<key>[差劲]</key>
	<string>emoji_087</string>
	<key>[爱你]</key>
	<string>emoji_088</string>
	<key>[NO]</key>
	<string>emoji_089</string>
	<key>[OK]</key>
	<string>emoji_090</string>
	<key>[双喜]</key>
	<string>emoji_091</string>
	<key>[鞭炮]</key>
	<string>emoji_092</string>
	<key>[灯笼]</key>
	<string>emoji_093</string>
	<key>[发财]</key>
	<string>emoji_094</string>
	<key>[K歌]</key>
	<string>emoji_095</string>
	<key>[购物]</key>
	<string>emoji_096</string>
	<key>[邮件]</key>
	<string>emoji_097</string>
	<key>[帅]</key>
	<string>emoji_098</string>
	<key>[喝彩]</key>
	<string>emoji_099</string>
	<key>[祈祷]</key>
	<string>emoji_100</string>
	<key>[爆筋]</key>
	<string>emoji_101</string>
	<key>[棒棒糖]</key>
	<string>emoji_102</string>
	<key>[喝奶]</key>
	<string>emoji_103</string>
	<key>[下面]</key>
	<string>emoji_104</string>
	<key>[香蕉]</key>
	<string>emoji_105</string>
	<key>[飞机]</key>
	<string>emoji_106</string>
	<key>[开车]</key>
	<string>emoji_107</string>
	<key>[高铁左车头]</key>
	<string>emoji_108</string>
	<key>[车厢]</key>
	<string>emoji_109</string>
	<key>[高铁右车头]</key>
	<string>emoji_110</string>
	<key>[多云]</key>
	<string>emoji_111</string>
	<key>[下雨]</key>
	<string>emoji_112</string>
	<key>[钞票]</key>
	<string>emoji_113</string>
	<key>[熊猫]</key>
	<string>emoji_114</string>
	<key>[灯泡]</key>
	<string>emoji_115</string>
	<key>[风车]</key>
	<string>emoji_116</string>
	<key>[闹钟]</key>
	<string>emoji_117</string>
	<key>[打伞]</key>
	<string>emoji_118</string>
	<key>[气球]</key>
	<string>emoji_119</string>
	<key>[戒指]</key>
	<string>emoji_120</string>
	<key>[沙发]</key>
	<string>emoji_121</string>
	<key>[纸巾]</key>
	<string>emoji_122</string>
	<key>[药]</key>
	<string>emoji_123</string>
	<key>[手枪]</key>
	<string>emoji_124</string>
	<key>[青蛙]</key>
	<string>emoji_125</string>
</dict>
</plist>
